<div class="container">


<h1><%= @category.name %></h1>

<p>
  <%= link_to "Edit", edit_category_path(@category) %>
</p>
<p>
  <%= link_to "Delete", category_path(@category),
                         :data => {:confirm => "Are you sure?",
                         :method => "delete"} %>
</p>
<!-- <div class="hide_categories">

<%= link_to "Click to hide skills", root_path, class: "hide_categories_link", remote: true, :class => "btn btn-danger btn-sm"   %>
</div> -->

<p>
  <%= link_to "Return to categories", categories_path %>
</p>
</div>
