<!DOCTYPE html>
<html>
<head>
  <title>David Garber Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <div class="container">
      <nav class='navbar navbar-default' role='navigation'>
        <ul class='nav navbar-nav'>
          <li><%= link_to "David Garber", root_path %></li>
          <li><%= link_to "Skills", categories_path %></li>
          <li><a href ="references">References</a></li>
        </ul>
      </nav>
    </div>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
